
html,
body {
    font-family: 'Poppins', sans-serif;    
}

.welcome{
    margin: auto;
    width: 640px; 
    padding: 50px;
    color: #F68B63;
}
.welcome h4 {
    text-align: center;
    font-size: 40px;
}
.ordertable
{   
    margin-right: 80px;
    margin-left: 80px;
}

chart-container {
    width: 100%;
    height: auto;
}