html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#ffffff, #f06647);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f06647;
    font-size: 12px;
  }
  
  .login-box a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f06647;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box a:hover {
    background: #f06647;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f06647,
                0 0 25px #f06647,
                0 0 50px #f06647,
                0 0 100px #f06647;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }

  .error h3{
    width: 92%;
    margin: 0 0 2rem 0;
    padding: 10px;
    border: 1px solid #a94442;
    color:#a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
  }



















  .login-box .LogIn button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #F68B63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-box .LogIn button:hover {
    background-color: #F06647;
  }




  .login-box .logo {
    position: fixed;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);
  }




